fatpacker.trace
packlists
fatlib/
lib/
!lib/perl5/App/
!lib/perl5/x86_64-linux/auto/App/
!lib/perl5/x86_64-linux/.meta/App-cpanminus-*/
!lib/perl5/x86_64-linux/.meta/App-FatPacker-*/
bin/
!bin/cpanm
!bin/fatpack
[._]*.s[a-w][a-z]
[._]s[a-w][a-z]
*.un~
Session.vim
.netrwhist
*~
